main #fotogaleria {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 100%; 
}

.info {
    text-align: center;
}

.container {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 2%;
    color: white;
}

.banner {
    /* Disable selection of text inside of the banner */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    background-size: cover;
    
    padding: 1%;
    box-shadow: 0px 20px 40px 10px rgba(0, 0, 0, 0.25);

    background-blend-mode: multiply;
    background-color: #2e2e2e80;

    cursor: pointer;

    transition: transform 0.05s;
    
    border-width: 0.02vw;
    border-color: white;
    border-style: solid;
}

.banner:hover {
    transform: scale(1.05);
}

.banner-title {

    align-content: center;
    text-align: center;

    width: 100%;
    font-size: 1.2vw;
}

.banner p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.armenia-banner {
    background-image: url("../img/armenia/21.jpg");
}

.colombia-banner {
    background-image: url("../img/colombia/23e.jpg");
}

.franca-banner {
    background-image: url("../img/franca/11.jpg");
}

.grecia-banner {
    background-image: url("../img/grecia/24.jpg");
}

.italia-banner {
    background-image: url("../img/italia/1e.jpg");
}

.japao-banner {
    background-image: url("../img/japao/18.jpg");
    background-position-y: 100%;
}

/* Desktop Responsive */
@media (min-width: 1000px) {
    .container {
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .row {
        flex-direction: row;
        display: flex;
        gap: 2%;
        font-size: 1vw;
    }

    .banner {
        margin-bottom: 1.5%;
    }

    .info {
        font-size: 1.15vw;
        margin-bottom: 1.5%;
    }
}

/* Mobile Responsive */
@media (max-width: 1000px) {
    .container {
        font-size: 25px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .row {
        flex-direction: column;
        display: flex;
        gap: 2%;
        font-size: 4vw;
    }

    .banner {
        padding: 5%;
        margin-bottom: 4%;
    }

    .info {
        font-size: 5vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}